@import "tailwindcss";

@theme {
  --color-primary-500: #3b82f6;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
}

.dark body {
  background-color: #0f172a;
}

#root {
  width: 100%;
}
